---
import LayoutPage from "@layouts/LayoutPage.astro";

const cdnBaseUrl: string =
  "https://d1fp2fj544zz6e.cloudfront.net/endigo_design/portfolio";
const groups = {
  "Skeleton Labs": await Astro.glob("./works/skeleton-labs/*.md"),
  "Brain & Bones": await Astro.glob("./works/brain-bones/*.md"),
  "Jackpot Rising": await Astro.glob("./works/jackpot-rising/*.md"),
  Gaming: await Astro.glob("./works/gaming/*.md"),
};
---

<LayoutPage>
  <!-- Hero -->
  <header
    class="bg-primary p-4 md:p-6 !pb-0 flex flex-col items-center gap-4 md:gap-6"
  >
    <h1 class="max-w-[1200px] mx-auto text-balance text-center">
      Hi, I’m Chris. I build design systems, accessible UI, UX, games, and more.
    </h1>
    <img
      class="md:hidden"
      src="/hero-mobile.png"
      alt="Portrait of Chris Simmons"
    />
    <img
      class="hidden md:block"
      src="/hero.png"
      alt="Portrait of Chris Simmons"
    />
  </header>
  <!-- Main -->
  <main class="p-4 py-12 md:py-24">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-[48px_auto_1fr] gap-4 md:gap-8">
        <!-- Heading -->
        <h2
          class="h2 md:origin-top-right md:-rotate-[90deg] md:-translate-x-[48px] md:translate-y-[195px] md:whitespace-nowrap"
        >
          <svg
            class="fill-current md:size-9 !hidden md:!inline-block fa-solid fa-arrow-left-long -translate-y-1"
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="16"
            viewBox="0 0 512 512"
          >
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
            ></path>
          </svg>
          <span>Works</span>
        </h2>
        <!-- Horz Rule -->
        <div class="hidden md:block">
          <hr class="hr-vert" />
        </div>
        <!-- Grid -->
        <div class="space-y-10">
          {
            Object.entries(groups).map(([group, works]) => (
              <section class="space-y-4">
                <h3 class="h3">
                  <span class="text-primary font-bold">{"["}</span>
                  {group}
                  <span class="text-primary font-bold">{"]"}</span>
                </h3>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-8">
                  {works
                    .sort(
                      (a: any, b: any) =>
                        a.frontmatter.group_id - b.frontmatter.group_id
                    )
                    .map((work: any) => (
                      <a href={work.url}>
                        <figure class="space-y-2">
                          <img
                            src={cdnBaseUrl + work.frontmatter.thumbnail}
                            alt={work.frontmatter.title}
                            class="w-full aspect-square rounded shadow-xl hover:scale-[98%] hover:shadow transition-transform"
                            style={{ backgroundColor: work.frontmatter.accent }}
                            transition:name={`${work.frontmatter.thumbnail}-thumbnail`}
                          />
                          <strong class="block text-center">
                            {work.frontmatter.title}
                          </strong>
                        </figure>
                      </a>
                    ))}
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</LayoutPage>
