---
import LayoutPage from "@layouts/LayoutPage.astro";
import DecorStripes from "@components/decor-stripes.astro";
import Hero from "@components/Hero.tsx";
import HoverCard from "@components/HoverCard.astro";

import { Image } from "astro:assets";
import avatar from "../assets/avatar.webp";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { cdnBaseUrl } from "@lib/constants";

async function getCollectionByID(id: string) {
  return getCollection("works", (data: CollectionEntry<"works">) =>
    data.id.includes(id),
  );
}

// Get Works Collections by ID
const works = [
  { label: "Skeleton Labs", entries: await getCollectionByID("skeleton-labs") },
  { label: "Brain & Bones", entries: await getCollectionByID("brain-bones") },
  {
    label: "Jackpot Rising",
    entries: await getCollectionByID("jackpot-rising"),
  },
  { label: "Gaming", entries: await getCollectionByID("gaming") },
];
---

<LayoutPage>
  <!-- Shader -->
  <Hero client:visible>
    <div class="flex flex-col items-center gap-4 md:gap-6">
      <Image
        src={avatar}
        alt="Chris Simmons"
        width={192}
        height={192}
        class="border-6 border-surface-200-800/50 size-24 rounded-full grayscale shadow-xl"
      />
      <div class="glitch-container">
        <p class="heading-font-family text-5xl md:text-6xl lg:text-8xl glitch">
          <span aria-hidden="true">Chris Simmons</span>
          Chris Simmons
          <span aria-hidden="true">Chris Simmons</span>
        </p>
      </div>
      <div
        class="bg-surface-200-800/50 backdrop-blur-md rounded-full py-1.5 px-5"
      >
        <p
          class="text-xs md:text-base xl:text-lg text-balance text-center font-medium"
        >
          Design systems, accessible interfaces, games, and more.
        </p>
      </div>
    </div>
  </Hero>

  <!-- Decorative Stripes -->
  <DecorStripes class="h-8" />

  <!-- Main -->
  <main class="p-4 py-12 md:py-24">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-[48px_auto_1fr] gap-4 md:gap-8">
        <!-- Heading 1 -->
        <h1
          class="h1 md:[writing-mode:vertical-rl] md:rotate-180 md:self-start md:flex md:items-center md:gap-3"
        >
          <svg
            class="fill-current md:size-9 hidden! md:inline-block! fa-solid fa-arrow-left-long md:rotate-90"
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="16"
            viewBox="0 0 512 512"
          >
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
            ></path>
          </svg>
          <span>WORKS</span>
        </h1>
        <!-- Horz Rule -->
        <div class="hidden md:block">
          <hr class="vr border-dashed" />
        </div>
        <!-- Grid -->
        <div class="space-y-10">
          {
            works.map((work) => (
              <>
                <h2 class="h3">{work.label}</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-8">
                  {work.entries
                    .sort(
                      (
                        a: CollectionEntry<"works">,
                        b: CollectionEntry<"works">,
                      ) => a.data.order - b.data.order,
                    )
                    .map((entry: CollectionEntry<"works">) => (
                      <HoverCard
                        href={`/works/${entry.id}`}
                        src={cdnBaseUrl + entry.data.thumbnail}
                        alt={entry.data.title}
                        title={entry.data.title}
                        accent={entry.data.accent}
                        transitionName={`${entry.data.thumbnail}-thumbnail`}
                      />
                    ))}
                </div>
              </>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</LayoutPage>
