---
import LayoutRoot from "@layouts/LayoutRoot.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { frontmatter } = Astro.props;
const cdnBaseUrl: string =
  "https://d1fp2fj544zz6e.cloudfront.net/endigo_design/portfolio";
---

<LayoutRoot>
  <Header />
  <section class="p-4 py-12 md:py-24">
    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-[auto_auto_1fr] gap-10"
    >
      <header
        class="flex flex-col justify-start items-start md:items-end gap-4 w-[320px]"
      >
        <div class="md:text-right">
          <small class="text-lg uppercase opacity-50">{frontmatter.group}</small
          >
          <h2 class="h2 md:text-right">{frontmatter.title}</h2>
        </div>
        <img
          src={cdnBaseUrl + frontmatter.thumbnail}
          alt={frontmatter.title}
          class="w-full aspect-square rounded shadow"
          style={{ backgroundColor: frontmatter.accent }}
        />
        {
          frontmatter.website && (
            <a class="btn" href={frontmatter.website} target="_blank">
              Launch &rarr;
            </a>
          )
        }
      </header>
      <!-- Horz Rule -->
      <div class="hidden md:block">
        <hr class="hr-vert" />
      </div>
      <!-- Article -->
      <article class="prose prose-invert max-w-none">
        <!-- Markdown -->
        <slot />
        <hr class="hr" />
        <!-- Video -->
        {
          frontmatter.videos.length > 0 &&
            frontmatter.videos.map((video: any) => (
              <figure>
                <iframe
                  src={video.src}
                  class="w-full aspect-video bg-black/30 rounded shadow-xl"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  loading="lazy"
                />
                {video.caption && (
                  <span class="block mt-3 text-xs text-center opacity-60">
                    {video.caption}
                  </span>
                )}
              </figure>
            ))
        }
        <!-- Screenshots -->
        {
          frontmatter.screenshots.length > 0 &&
            frontmatter.screenshots.map((screenshot: any) => (
              <figure>
                <img
                  src={cdnBaseUrl + screenshot.src}
                  alt={screenshot.caption}
                  class="bg-black/30 w-full aspect-auto rounded shadow-xl"
                />
                {screenshot.caption && (
                  <span class="block pt-2 text-center text-xs opacity-50">
                    {screenshot.caption}
                  </span>
                )}
              </figure>
            ))
        }
      </article>
    </div>
  </section>
  <Footer />
</LayoutRoot>
